<h1>HEY!</h1>

<form action="/response">
  <div>
    <label for="prompt_id">Feelin' down?! Do YOU need a quote today??!?</label>
  </div>
  <div>
    <input id="prompt_id" name="prompt" placeholder="You better type 'yes' or 'no'...">
  </div>
  <div>
    <button>GOOO</button>
  </div>
</form>
