<div class="main-container">
  <h1><em>HEY!</em></h1>

  <img src="/images/home-image.jpg" class="home-image">

  <form action="/response">
    <div>
      <label for="prompt_id">Feelin' down?! Do <em>YOU</em> need a quote today??!?</label>
    </div>
    <div>
      <input id="prompt_id" name="prompt" placeholder="You better type 'yes' or 'no'...">
    </div>
    <div>
      <button>GOOO</button>
    </div>
  </form>
</div>
