<h1>Take this!</h1>

<img src="/images/shout-image.jpg" class="shout-image">

<div class="chat-response">
  <em><%= @chat_response %></em>
</div>

<form action="/response">
  <div>
    <label for="prompt_id">Another quote????</label>
  </div>
  <div>
    <input id="prompt_id" name="prompt" placeholder="Well?? What's it gonna be?!?">
  </div>
  <div>
    <button>GOOO</button>
  </div>
</form>
<div class="link-home">
  <a href="/home">Please, I've had enough...</a>
</div>
